<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	
	<property name="LOG_FILE" value="system.log" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE-AUDIT" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_FILE}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</root>
	
</configuration>